.advantages {
  background-color: $bg-color;
}

.advantages__title {
  margin: 0;
  padding: 0;

  padding-top: 27px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

    padding-top: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;

  margin-left: 78px;
  width: 63%;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 32px;
  }
}

.advantages__item {
  position: relative;

  list-style: none;
  margin: 0 auto;

  &--nutrients::before {
    content: "";

    position: absolute;
    top: 5px;
    right: 195px;

    width: 34%;
    height: 60px;

    background-image: url("../../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #68b738;
  }

  &--packing::before {
    content: "";

    position: absolute;
    top: 5px;
    right: 195px;

    width: 34%;
    height: 62px;

    background-image: url("../../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #68b738;
  }

  &--food::before {
    content: "";

    position: absolute;
    top: 5px;
    right: 195px;

    width: 34%;
    height: 62px;

    background-image: url("../../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #68b738;
  }

  &--changes::before {
    content: "";

    position: absolute;
    top: 5px;
    right: 195px;

    width: 34%;
    height: 62px;

    background-image: url("../../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 32px;
    margin-right: 79px;
    width: 34%;

    &--nutrients::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 80px;
      height: 80px;

      background-image: url("../../img/advantage-leaf@1x.png");
      background-repeat: no-repeat;
      background-color: #68b738;
    }

    &--packing::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 80px;
      height: 80px;

      background-image: url("../../img/advantage-powder@1x.png");
      background-repeat: no-repeat;
      background-color: #68b738;
    }

    &--food::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 80px;
      height: 80px;

      background-image: url("../../img/advantage-dining@1x.png");
      background-repeat: no-repeat;
      background-color: #68b738;
    }

    &--changes::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 80px;
      height: 80px;

      background-image: url("../../img/advantage-clock@1x.png");
      background-repeat: no-repeat;
      background-color: #68b738;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      margin-top: 32px;
      width: 22%;
    }
  }
}

.advantages__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    position: relative;
    font-size: 16px;
    line-height: 24px;

    width: 92%;

    margin: 0;
    margin-top: 117px;
    padding-bottom: 57px;

    z-index: 1;

    &--one::before {
      content: "1";

      font-family: "Oswald-Regular", "Arial", sans-serif;
      font-size: 280px;
      line-height: 280px;
      position: absolute;

      top: -157px;
      left: 114px;
      color: #f2f2f2;

      z-index: -1;
    }

    &--two::before {
      content: "2";

      font-family: "Oswald-Regular", "Arial", sans-serif;
      font-size: 280px;
      line-height: 280px;
      position: absolute;

      top: -157px;
      left: 114px;
      color: #f2f2f2;

      z-index: -1;
    }

    &--three::before {
      content: "3";

      font-family: "Oswald-Regular", "Arial", sans-serif;
      font-size: 280px;
      line-height: 280px;
      position: absolute;

      top: -157px;
      left: 114px;
      color: #f2f2f2;

      z-index: -1;
    }

    &--four::before {
      content: "4";

      font-family: "Oswald-Regular", "Arial", sans-serif;
      font-size: 280px;
      line-height: 280px;
      position: absolute;

      top: -157px;
      left: 114px;
      color: #f2f2f2;

      z-index: -1;
    }
  }
}
