.block-form {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
  }
}
