.bonus {
  position: relative;

  @media (min-width: $tablet-width) {
    &::after {
      content: "";

      position: absolute;
      top: 25px;
      right: 0;
      width: 100%;

      border-top: 2px solid #68b738;
      z-index: 0;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;

    &::after {
      content: "";

      position: absolute;
      top: 100px;
      right: 0;
      width: 100%;

      border-top: 2px solid #68b738;
      z-index: 0;
    }
  }
}
