.button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: normal;
  padding: 13px 0;
  background-color: $btn-bg-color;
}
