//От 320px мобильная версия
.container {
  width: auto;
  max-width: 500px;
  padding: 0 6%;
}

//ОТ 768px планшетная версия
@media (min-width: $tablet-width) {
  .container {
    width: auto;
    max-width: 1000px;
    padding: 0 4%;
  }
}

//От 1200px десктопная версия
@media (min-width: $desktop-width) {
  .container {
    width: auto;
    max-width: 1600px;
    padding: 0 5%;
  }
}
