.direction-selection {
  background-color: $bg-color;
}

.direction-selection__list {
  list-style: none;
}

.direction-selection__item {
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;
}
