.direction-selection {
  position: relative;
  background-color: $bg-color;
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 47px;
  padding-bottom: 22px;
  width: 100%;


  &::before {
    content: "";

    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;

    border-top: 1px solid #d9d9d9;
  }

  @media (min-width: $tablet-width) {
    border: 1px solid $border-color;
    margin-top: 81px;
    margin-left: 40px;

    padding-left: 28px;

    &::before {
      border: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 47%;
  }
}

.direction-selection__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
    margin-bottom: 25px;
  }
}

.direction-selection__item {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  padding-top: 19px;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.direction-selection__input:checked + label,
.direction-selection__input:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 45px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 1px;
    top: -6px;
    width: 30px;
    height: 30px;
    border: 1px solid #dddddd;
    border-radius: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 3px;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color: #68b738;
  }
}

.direction-selection__input:not(:checked) + label::after {
  opacity: 0;
}

.direction-selection__input:checked + label::after {
  opacity: 1;
}
