.extra {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }
}

.extra__box {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.extra__title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.extra__feature {
  width: 282px;

  display: flex;
  justify-content: space-between;
}

.extra__button {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
