.extra {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }
}

.extra__box {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 610px;
  }
}

.extra__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.extra__feature {
  width: 100%;

  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 37%;
  }
}

.extra__button {
  width: 100%;

  &:focus,
  &:hover {
    background-color: #5eaa2f;
    outline: none;
  }

  &:active {
    color: #ffffff;
    opacity: 0.3;
  }


  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    height: 20px;
  }
}
