.form-profile {
  background-color: $bg-color;
}

.form-profile__title {
  position: relative;
  font-size: 36px;
  line-height: 36px;

  padding-top: 27px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    border-top: 1px solid $border-color;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    margin-top: 65px;

    &::before {
      border: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 74px;
  }
}

.form-profile__text {
  font-size: 14px;
  line-height: 18px;

  margin-top: 37px;
  width: 71%;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 46%;
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 56px;

    width: 26%;
  }
}
