.form-program-selection__button {
  border: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 37%;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 47%;
  }
}

.form-program-selection__decryption {
  margin: 0;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-right: 130px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 21px;
    padding-left: 81px;
  }
}
