.form-profile {
  background-color: $bg-color;
}

.form-profile__title {
  position: relative;
  font-size: 33px;
  padding-top: 27px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    border-top: 1px solid $border-color;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 74px;
  }
}

.form-profile__text {
  font-size: 14px;
  line-height: 18px;

  margin-top: 37px;
  width: 226px;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
  }
}
