.invite {
  display: flex;
  justify-content: space-between;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    background-color: $bg-color;
    min-width: 570px;
    min-height: 201px;
  }
}

.invite__slogan {
  font-size: 16px;
  line-height: 18px;

  width: 50%;


  @media (min-width: $tablet-width) {
    width: 171px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-left: 76px;
  }
}

.invite__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;

  margin: 0;

  width: 50%;

  @media (min-width: $tablet-width) {
    width: 160px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-right: 89px;
  }
}
