.location {
  background-color: $bg-color;
  padding-top: 20px;

  &--gray {
    background-color: $secondary-bg-color;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.location b {
  text-transform: uppercase;
}
