.page-footer {
  background-color: $secondary-bg-color;
}

.page-footer__logo-image {
  margin: 0 auto;
  padding-top: 39px;
  display: block;
}

.page-footer__link {
  font-size: 16px;
  line-height: 16px;
  color: $text-color;

  display: flex;
  justify-content: space-between;
  padding-top: 53px;
}
