.page-header {
  font-family: "Oswald";
  font-weight: 500;
  font-style: 20px;
  line-height: 20px;
  color: #000000;

  background-color: $bg-color;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header__logo {
  min-height: 65px;
  border: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    border: none;
  }
}

.page-header__logo img {
  width: 191px;
  height: 39px;
}

.page-header__logo-image {
  padding-top: 11px;
}
