.page-footer {
  background-color: $secondary-bg-color;
}

.page-footer__logo-image {
  margin: 0 auto;
  padding-top: 39px;
  display: block;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.page-footer__social {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;

    border-top: 1px solid #d9d9d9;
  }

  @media (min-width: $tablet-width) {
    &::before {
      display: none;
    }
  }
}

.page-footer__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  color: $text-color;

  display: flex;
  justify-content: space-between;
  padding-top: 53px;
  padding-bottom: 22px;

  &::before {
    content: "";

    position: absolute;
    top: 21px;
    left: 0;
    width: 100%;

    border-top: 1px solid #d9d9d9;
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
    padding: 0;

    &::before {
      display: none;
    }
  }
}

.page-footer__logo-academy {
  @media (min-width: $tablet-width) {
    vertical-align: middle;
  }
}
