.programs {
  background-color: $bg-color;
}

.programs__list {
  margin: 0;
  padding: 0;
}

.programs__item {
  background-color: $secondary-bg-color;

  list-style: none;
  margin-top: 22px;
  padding-right: 22px;
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  color: $title-color;
  text-transform: uppercase;

  margin: 0;
  padding-top: 39px;
  padding-left: 82px;

  @media (min-width: $tablet-width) {
    font-size: 37px;

    padding-top: 81px;
    padding-left: 55px;
  }
}

.programs__description {
  font-size: 14px;
  line-height: 18px;
  color: $text-color;

  margin: 0;
  margin-left: 20px;
  margin-top: 36px;
  width: 223px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;

    margin-left: 52px;
    margin-top: 26px;
    width: 371px;
  }
}

.programs__link {
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;

  display: inline-block;
  margin-top: 44px;
  margin-left: 20px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;

    margin-top: 61px;
    margin-left: 53px;
    padding-bottom: 62px;
  }
}
