.programs {
  background-color: $bg-color;

  @media (min-width: $desktop-width) {
    margin-top: 82px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.programs__item {
  background-color: $secondary-bg-color;

  list-style: none;
  margin-top: 22px;

  @media (min-width: $desktop-width) {
    width: 47%;
  }
}

.programs__title {
  position: relative;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  color: $title-color;
  text-transform: uppercase;

  margin: 0 auto;
  padding-top: 39px;
  padding-left: 91px;

  &--losing-weight::before {
    content: "";

    position: absolute;
    top: 32px;

    width: 35px;
    height: 49px;

    margin-left: -60px;
    background-image: url("../../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    z-index: 1;
  }

  &--losing-weight::after {
    content: "";

    position: absolute;
    top: 32px;
    left: 23px;

    background-color: #68b738;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    z-index: 0;
  }

  &--mass-gain::before {
    content: "";

    position: absolute;
    top: 43px;

    width: 67px;
    height: 28px;

    margin-left: -77px;
    background-image: url("../../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    z-index: 1;
  }

  &--mass-gain::after {
    content: "";

    position: absolute;
    top: 32px;
    left: 23px;

    background-color: #68b738;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    z-index: 0;
  }


  @media (min-width: $tablet-width) {
    font-size: 37px;

    padding-top: 81px;
    padding-left: 55px;

    &--losing-weight::before {
      content: "";

      position: absolute;
      top: 85px;
      right: 90px;

      width: 140px;
      height: 192px;

      background-image: url("../../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
      z-index: 1;
    }

    &--losing-weight::after {
      content: "";

      position: absolute;
      top: 96px;
      left: 451px;

      background-color: #68b738;
      width: 200px;
      height: 200px;
      border-radius: 100px;
      z-index: 0;
    }

    &--mass-gain::before {
      content: "";

      position: absolute;
      top: 144px;
      right: 25px;

      width: 268px;
      height: 112px;

      background-image: url("../../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
      z-index: 1;
    }

    &--mass-gain::after {
      content: "";

      position: absolute;
      top: 96px;
      left: 451px;

      background-color: #68b738;
      width: 200px;
      height: 200px;
      border-radius: 100px;
      z-index: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 77px;
    padding-left: 214px;

    &--losing-weight::before {
      content: "";

      position: absolute;
      top: 50px;
      left: 125px;

      width: 70px;
      height: 97px;

      background-image: url("../../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
      z-index: 1;
    }

    &--losing-weight::after {
      content: "";

      position: absolute;
      top: 52px;
      left: 50px;

      background-color: #68b738;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      z-index: 0;
    }

    &--mass-gain::before {
      content: "";

      position: absolute;
      top: 70px;
      left: 111px;

      width: 134px;
      height: 56px;

      background-image: url("../../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
      z-index: 1;
    }

    &--mass-gain::after {
      content: "";

      position: absolute;
      top: 52px;
      left: 50px;

      background-color: #68b738;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      z-index: 0;
    }
  }
}

.programs__description {
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $text-color;

  margin: 0 auto;
  margin-top: 36px;

  width: 81%;

  &::before {
    content: "";

    position: absolute;
    top: 103px;
    left: 0;
    width: 100%;

    border-top: 1px solid #d9d9d9;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;

    margin-left: 52px;
    margin-top: 26px;
    width: 49%;

    @media (min-width: $tablet-width) {
      &::before {
        border: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 81%;

    margin-top: 75px;
  }
}

.programs__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
  text-align: center;

  width: 47%;

  display: inline-block;
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 22px;

  background-image: url("../../img/icon-right-arrow-long.svg");
  background-size: 24px;
  background-position: 130px;
  background-repeat: no-repeat;

  &:focus,
  &:hover {
    background-image: url("../../img/icon-right-arrow-verylong.svg");
    background-size: 32px;
    background-position: 130px;
    background-repeat: no-repeat;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;

    margin-top: 61px;
    margin-left: 53px;
    margin-bottom: 62px;

    text-align: start;
  }
}
