.show-all {
  position: relative;
  background-color: $bg-color;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    border-top: 1px solid $border-color;
  }

  @media (min-width: $tablet-width) {
    &::before {
      display: none;
    }
    border: 1px solid $border-color;
  }

  @media (min-width: $desktop-width) {
    width: 19%;
    margin-left: 35px;
    margin-right: 35px;
  }
}

.show-all__card {
  text-align: center;
  padding-top: 26px;
  min-width: 245px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.show-all__image {
  @media (min-width: $tablet-width) {
    margin-top: 51px;
  }
}

.show-all__title {
  margin: 0 auto;

  font-size: 16px;
  line-height: 20px;
  color: $title-color;
  text-transform: uppercase;

  margin-top: 23px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;

    margin-top: 49px;
    width: 134px;
  }
}

.show-all__slogan {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $text-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-top: 23px;
    font-size: 16px;
    line-height: 18px;

    width: 52%;
  }
}

.show-all__button {
  color: #111111;
  margin-bottom: 25px;
  width: 100%;

  background-color: $secondary-bg-color;

  &:focus,
  &:hover {
    background-color: #ebebeb;
    outline: none;
  }

  &:active {
    color: #ffffff;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 77%;
    margin-top: 87px;
  }
}
