.site-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-top: 30px;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-top: 77px;
  }
}

.site-list__item {
  list-style: none;
  height: 65px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    margin-right: 36px;

    &:last-child {
      margin-right: 0;
    }

    border: none;
  }

  @media (min-width: $desktop-width) {
    z-index: 3;
  }
}

.site-list__link {
  display: inline-block;
  text-transform: uppercase;
  padding-top: 24px;
  color: #000000;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    &--light-color {
      color: #ffffff;
    }
  }
}
