.site-list {
  font-family: "Oswald-Medium", "Arial", sans-serif;
  font-size: 20px;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 42px;
    flex-wrap: wrap;

    font-family: "Oswald-Regular", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;

    width: 100%;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-top: 77px;
    font-size: 20px;
    line-height: 30px;
  }
}

.site-list__item {
  position: relative;
  list-style: none;
  height: 65px;
  text-align: center;
  vertical-align: middle;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    border-top: 1px solid $border-color;
  }

  @media (min-width: $tablet-width) {
    &:before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    z-index: 3;
  }
}

.site-list__link {
  display: inline-block;
  text-transform: uppercase;
  padding-top: 24px;
  color: #000000;

  &:focus,
  &:hover {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    &--active::before {
      content: "";

      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;

      border: 2px solid #68B738;
    }
  }

  @media (min-width: $desktop-width) {
    &--light-color {
      color: #ffffff;
    }

    &--active-light-color::before {
      content: "";

      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;

      border: 2px solid #ffffff;
    }
  }
}
