.social {
  margin: 0;
  padding: 0;

  display: flex;
  padding-top: 58px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 17%;
  }
}

.social__item {
  list-style: none;
  margin: 0 auto;
}

.social__link {
  display: inline-block;
}

.social__image {

  &:focus,
  &:hover {
    fill: #68B738;
  }
  &:active {
    fill: #68B738;
    opacity: 0.3;
  }
}
