//Resolution
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;

//Colors
$bg-color: #ffffff;
$border-color: #e6e6e6;
$secondary-title-color: #ffffff;
$btn-bg-color: #68b738;
$secondary-bg-color: #f2f2f2;
$title-color: #111111;
$text-color: #444444;
